.statement-layout {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem 8rem;
    padding: 6rem 0 4rem;

    @include respond(portrait) {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        padding-bottom: 0rem;
    }
}