{
    "presets": [
        [
        "next/babel",
        {
            "preset-env": { 
                "targets": {
                    "node": "current"
                } 
            },
            "preset-typescript": {},
            "plugin-proposal-class-properties": {},
            "plugin-proposal-object-rest-spread": {}
        }
        ]
    ],
    "plugins": [ [ "@babel/plugin-proposal-decorators", { "legacy": true } ] ]
}