.anchor {
    display: flex;
    align-items: center;
    justify-items: center;

    transition: transform 1s;
    padding: 2rem 0;
    margin: 0 auto;

    &,
    &:link,
    &:visited { 
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }

}

