.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;

    @include respond(portrait) {
        height: 8.5rem;
    }

    // first ones are just links, last one acts as a button
    & > * {
        border-top: var(--line-medium-thickness) solid transparent;
        border-bottom: var(--line-medium-thickness) solid transparent;
    }
    
    // on hover for links
    & > *:hover {
        border-bottom: var(--line-medium-thickness) solid var(--color-medium-peach);
        transform: scaleX(1.2);
    }
}