.responsive-player {
    position: relative;
    padding-top: 23.125%;
    padding-bottom: 23.125%; 
    z-index: $z-index-on-top;

    &__player-react {
        // not being used to style the react-player!?! Chrome browser doesn't pick up the className. 
    }
}