.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    &__button {
        height: 7rem;
        width: 7rem;
        transform: scale(.5);

        @include respond(portrait) {
            margin-top: 1rem;
        }
    }
}