.svg-button {
    display: flex;
    fill: var(--color-hair);
    stroke: var(--color-hair);
    background-color: white; 
    border-color: transparent; 
    border-radius: 50%;
    transition: scale .8s ease-in-out;

    @include respond(portrait) {
       
    }

    &:hover {
        fill: white;
        stroke:white;
        background-color: var(--color-gold);
        transform: scale(0.7) translateY(-.5rem);
    }

}

