.transformation {
    height: 300px;
    min-width: 300px;

    @include onHover;

    @include respond(portrait) {
        height: auto;
        min-width: auto;
    }

    &__comparison {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
    }

    &__figure {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    &__image--before {

    }

    &__image--after {
        overflow: hidden;
        height: 100%;
    }

    &__handle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 5rem;
        width: 5rem;
        z-index: 1;

        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            height: 0;
            width: 0;
            margin-top: -6px;
            border: 6px inset transparent;
        }

        &::before {
            left: 50%;
            border-right: 6px solid white;
            margin-left: -17px;
        }

        &::after {
            right: 50%;
            border-left: 6px solid white;
            margin-right: -17px;
        }

    }

    &__divisor {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 50%;
        

        &::before, &::after {
            content: '';
            position: absolute;
            right: -2px;
            height: calc(50% - 25px);
            width: 4px;
            background: white;
            z-index: 3;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

    }

    &__slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        top: 50%;
        left: -25px;
        width: calc(100% + 50px);
        transform: translateY(-50%);
        background-color: transparent;
        z-index: 2;
        
        &:focus, &:active {
            border: none;
            outline: none;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: transparent;
            border: 4px solid white;
            box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
        }

        &::-moz-range-track {
            -moz-appearance: none;
            height: 15px;
            width: 100%;
            background-color: transparent;
            position: relative;
            outline: none;
        }

    }
}