.card {
    padding: 0 4rem;

    @include respond(portrait) {
        padding: 0;
    }

    &__period {
        text-align: center;
    }

    &__header {
        text-align: center;
    }

    &__photo {
        text-align: center;
        margin: 2rem 0;

        @include respond(portrait) {
            width: 100%;
            height: auto;
            max-width: calc(100vw - 2 * #{$section-padding-portrait});
        }
    }

    &__description {
        
    }

}