.copyright {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;

    @include respond(portrait) {
        flex-direction: column;
    }

    &__copyright {

    }

    &__icon {
        margin-left: .5rem;
        margin-right: .5rem;
        //margin-top: .3rem;
        height: 1.6rem;
        width: 1.6rem;
        fill: white;
        stroke: white;

        @include respond(portrait) {
            height: 1.2rem;
            width: 1.2rem;
        }
    }

    &__rights {

    }
}