.modal {
    transform: translateY(-100%); // hide initially
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-modal;
    opacity: 0;

    &--active {
        transform: translateY(0);
        width: auto;
        height: auto;
        opacity: 1;
        background-color: rgba(100,100, 100, 0.7);
    }

}