.result-layout {
    display: grid;
    grid-template-columns: repeat(4, #{$card-width});
    grid-gap: $card-grid-gap;

    padding: 4rem 0;

    @include respond(portrait) {
        padding: 0;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}